<a href="https://colab.research.google.com/github/jugalpanchal/bd-chef/blob/main/spark_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Follow the steps to install the dependencies:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # install java
#!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz # spark package download
!wget -q https://downloads.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz # spark package download
#!tar xf spark-3.1.2-bin-hadoop3.2.tgz # unzip spark package
!tar xf spark-3.3.0-bin-hadoop3.tgz # unzip spark package
!pip install -q findspark # install spark

# Set the location of Java and Spark:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"
os.environ["SPARK_HOME"] = "/content/spark-3.3.0-bin-hadoop3"

import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

# create or get spark session
spark = SparkSession.builder \
        .master("local[*]") \
        .appName("Spark_App1") \
        .getOrCreate()

sc = spark.sparkContext

In [10]:
df1 = spark.createDataFrame([('jugal', 'dearborn heights', '48155', 'dearborn heights'), ('garvik', 'canton', '48188', 'canton')]) # pass some tuples within a collection
df1 = df1.toDF('name', 'city', 'zio', 'city')

df1.show()

+------+----------------+-----+----------------+
|  name|            city|  zio|            city|
+------+----------------+-----+----------------+
| jugal|dearborn heights|48155|dearborn heights|
|garvik|          canton|48188|          canton|
+------+----------------+-----+----------------+

In [13]:
# remove the duplicate columns

import pandas as pd

pd_df1 = df1.toPandas()
column_flags = pd_df1.columns.duplicated()

pd_df1 = pd_df1.loc[:, ~column_flags]
pd_df1

     name              city    zio
0   jugal  dearborn heights  48155
1  garvik            canton  48188

In [14]:
# Capitalize first character

from pyspark.sql.types import StringType
import pyspark.sql.functions as F


udf_capitalize  = F.udf(lambda x: str(x).capitalize(), StringType())

df = df1.withColumn('title_capitalize', udf_capitalize('name'))
df.show()

+------+----------------+-----+----------------+----------------+
|  name|            city|  zio|            city|title_capitalize|
+------+----------------+-----+----------------+----------------+
| jugal|dearborn heights|48155|dearborn heights|           Jugal|
|garvik|          canton|48188|          canton|          Garvik|
+------+----------------+-----+----------------+----------------+