<a href="https://colab.research.google.com/github/jugalpanchal/bd-chef/blob/main/spark_rdd_and_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Follow the steps to install the dependencies:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # install java
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz # spark package download
!tar xf spark-3.1.2-bin-hadoop3.2.tgz # unzip spark package
!pip install -q findspark # install spark

# Set the location of Java and Spark:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import Row

# create or get spark session
spark = SparkSession.builder \
        .master("local[*]") \
        .appName("Spark_App1") \
        .getOrCreate()

# Spark 2.x does not give direct sparkcontext so we need to get it from SparkSession
sc = spark.sparkContext
#sc.appName #Spark_App1
#sc.uiWebUrl # WebUI
#sc.applicationId # application_xxxxxxxxxx_xxxx

""" 
#sc: SparkContext
1. play with RDD.
2. It comes from the Spark-Core
3. One only per application
#spark: SparkSession
1. play with DataFrame. 
2. It comes from the Spark-SQL.
3. It merges SQLContext and HiveContext into one object.
4. We can have multiple spark session objects in single application
5. It allows us to access the SparkContext
"""

' \n#sc: SparkContext\n1. play with RDD.\n2. It comes from the Spark-Core\n3. One only per application\n#spark: SparkSession\n1. play with DataFrame. \n2. It comes from the Spark-SQL.\n3. It merges SQLContext and HiveContext into one object.\n4. We can have multiple spark session objects in single application\n5. It allows us to access the SparkContext\n'

### RDD

In [118]:
# There are three way we can create a RDD. 1. Using the parallelize method 2. Reading a file 3. From the another RDD
# Read a file and create a RDD - RDD Started in Spark 1.x
collection_rdd = sc.textFile("sample_data/anscombe.json")+
#collection_rdd = sc.textFile("sample_data/*.json") # multiple files

# collection_rdd # sample_data/anscombe.json MapPartitionsRDD[260] at textFile at NativeMethodAccessorImpl.java:0
collection_rdd.setName("anscombe_rdd") # The Spark gives a internal name but we can specify the way we want. Even it helps in the SparkUI to identify specific RDD.
collection_rdd

anscombe_rdd MapPartitionsRDD[262] at textFile at NativeMethodAccessorImpl.java:0

In [ ]:
#collection_rdd.count() #49
#collection_rdd.take(5) # top 5 entities

In [ ]:
collection_rdd.collect() # this is like a collection

['[',
 '  {"Series":"I", "X":10.0, "Y":8.04},',
 '  {"Series":"I", "X":8.0, "Y":6.95},',
 '  {"Series":"I", "X":13.0, "Y":7.58},',
 '  {"Series":"I", "X":9.0, "Y":8.81},',
 '  {"Series":"I", "X":11.0, "Y":8.33},',
 '  {"Series":"I", "X":14.0, "Y":9.96},',
 '  {"Series":"I", "X":6.0, "Y":7.24},',
 '  {"Series":"I", "X":4.0, "Y":4.26},',
 '  {"Series":"I", "X":12.0, "Y":10.84},',
 '  {"Series":"I", "X":7.0, "Y":4.81},',
 '  {"Series":"I", "X":5.0, "Y":5.68},',
 '',
 '  {"Series":"II", "X":10.0, "Y":9.14},',
 '  {"Series":"II", "X":8.0, "Y":8.14},',
 '  {"Series":"II", "X":13.0, "Y":8.74},',
 '  {"Series":"II", "X":9.0, "Y":8.77},',
 '  {"Series":"II", "X":11.0, "Y":9.26},',
 '  {"Series":"II", "X":14.0, "Y":8.10},',
 '  {"Series":"II", "X":6.0, "Y":6.13},',
 '  {"Series":"II", "X":4.0, "Y":3.10},',
 '  {"Series":"II", "X":12.0, "Y":9.13},',
 '  {"Series":"II", "X":7.0, "Y":7.26},',
 '  {"Series":"II", "X":5.0, "Y":4.74},',
 '',
 '  {"Series":"III", "X":10.0, "Y":7.46},',
 '  {"Series":"III", "X":8.0, "Y":6.77},',
 '  {"Series":"III", "X":13.0, "Y":12.74},',
 '  {"Series":"III", "X":9.0, "Y":7.11},',
 '  {"Series":"III", "X":11.0, "Y":7.81},',
 '  {"Series":"III", "X":14.0, "Y":8.84},',
 '  {"Series":"III", "X":6.0, "Y":6.08},',
 '  {"Series":"III", "X":4.0, "Y":5.39},',
 '  {"Series":"III", "X":12.0, "Y":8.15},',
 '  {"Series":"III", "X":7.0, "Y":6.42},',
 '  {"Series":"III", "X":5.0, "Y":5.73},',
 '',
 '  {"Series":"IV", "X":8.0, "Y":6.58},',
 '  {"Series":"IV", "X":8.0, "Y":5.76},',
 '  {"Series":"IV", "X":8.0, "Y":7.71},',
 '  {"Series":"IV", "X":8.0, "Y":8.84},',
 '  {"Series":"IV", "X":8.0, "Y":8.47},',
 '  {"Series":"IV", "X":8.0, "Y":7.04},',
 '  {"Series":"IV", "X":8.0, "Y":5.25},',
 '  {"Series":"IV", "X":19.0, "Y":12.50},',
 '  {"Series":"IV", "X":8.0, "Y":5.56},',
 '  {"Series":"IV", "X":8.0, "Y":7.91},',
 '  {"Series":"IV", "X":8.0, "Y":6.89}',
 ']']

### DataFrame

In [ ]:
# Read a file and create a DataFrame - DataFrame Started in Spark 2.x but on top of the RDD.
json_df = spark.read.json('sample_data/anscombe.json') # first row is always a columns row.
json_df

DataFrame[Series: string, X: double, Y: double, _corrupt_record: string]

In [ ]:
json_df.printSchema()

root
 |-- Series: string (nullable = true)
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- _corrupt_record: string (nullable = true)

In [ ]:
json_df.collect()

[Row(Series=None, X=None, Y=None, _corrupt_record='['),
 Row(Series='I', X=10.0, Y=8.04, _corrupt_record=None),
 Row(Series='I', X=8.0, Y=6.95, _corrupt_record=None),
 Row(Series='I', X=13.0, Y=7.58, _corrupt_record=None),
 Row(Series='I', X=9.0, Y=8.81, _corrupt_record=None),
 Row(Series='I', X=11.0, Y=8.33, _corrupt_record=None),
 Row(Series='I', X=14.0, Y=9.96, _corrupt_record=None),
 Row(Series='I', X=6.0, Y=7.24, _corrupt_record=None),
 Row(Series='I', X=4.0, Y=4.26, _corrupt_record=None),
 Row(Series='I', X=12.0, Y=10.84, _corrupt_record=None),
 Row(Series='I', X=7.0, Y=4.81, _corrupt_record=None),
 Row(Series='I', X=5.0, Y=5.68, _corrupt_record=None),
 Row(Series='II', X=10.0, Y=9.14, _corrupt_record=None),
 Row(Series='II', X=8.0, Y=8.14, _corrupt_record=None),
 Row(Series='II', X=13.0, Y=8.74, _corrupt_record=None),
 Row(Series='II', X=9.0, Y=8.77, _corrupt_record=None),
 Row(Series='II', X=11.0, Y=9.26, _corrupt_record=None),
 Row(Series='II', X=14.0, Y=8.1, _corrupt_record=None),
 Row(Series='II', X=6.0, Y=6.13, _corrupt_record=None),
 Row(Series='II', X=4.0, Y=3.1, _corrupt_record=None),
 Row(Series='II', X=12.0, Y=9.13, _corrupt_record=None),
 Row(Series='II', X=7.0, Y=7.26, _corrupt_record=None),
 Row(Series='II', X=5.0, Y=4.74, _corrupt_record=None),
 Row(Series='III', X=10.0, Y=7.46, _corrupt_record=None),
 Row(Series='III', X=8.0, Y=6.77, _corrupt_record=None),
 Row(Series='III', X=13.0, Y=12.74, _corrupt_record=None),
 Row(Series='III', X=9.0, Y=7.11, _corrupt_record=None),
 Row(Series='III', X=11.0, Y=7.81, _corrupt_record=None),
 Row(Series='III', X=14.0, Y=8.84, _corrupt_record=None),
 Row(Series='III', X=6.0, Y=6.08, _corrupt_record=None),
 Row(Series='III', X=4.0, Y=5.39, _corrupt_record=None),
 Row(Series='III', X=12.0, Y=8.15, _corrupt_record=None),
 Row(Series='III', X=7.0, Y=6.42, _corrupt_record=None),
 Row(Series='III', X=5.0, Y=5.73, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=6.58, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=5.76, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=7.71, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=8.84, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=8.47, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=7.04, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=5.25, _corrupt_record=None),
 Row(Series='IV', X=19.0, Y=12.5, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=5.56, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=7.91, _corrupt_record=None),
 Row(Series='IV', X=8.0, Y=6.89, _corrupt_record=None),
 Row(Series=None, X=None, Y=None, _corrupt_record=']')]

### RDD to DataFrame and vice versa

In [ ]:
generic_data = sc.parallelize([1, 'Alice', 50, 'Bob', 'Canton']) # RDD collection supports different type of items even in a nested colletion.
#generic_data.toDF() # It does not work because it contains object with differnt types.

In [ ]:
people_list = [('Alice', 25), ('Bob', 20), ('Charly', 30), ('Don', 15)]
people_rdd_pair = sc.parallelize(people_list) # create a RDD but with Tuple/Pair objects
#people_rdd_pair # ParallelCollectionRDD[2] at readRDDFromFile

people_rdd_pair.collect()

[('Alice', 25), ('Bob', 20), ('Charly', 30), ('Don', 15)]

In [ ]:
people_df = people_rdd_pair.toDF() # Column names have been automatically generated and assigned. It infers data types too.
#people_df # DataFrame[_1: string, _2: bigint]
people_df.collect() # shows data with its class

[Row(_1='Alice', _2=25),
 Row(_1='Bob', _2=20),
 Row(_1='Charly', _2=30),
 Row(_1='Don', _2=15)]

In [ ]:
people_df.show() # shows in tabular format

+------+---+
|    _1| _2|
+------+---+
| Alice| 25|
|   Bob| 20|
|Charly| 30|
|   Don| 15|
+------+---+

In [ ]:
from pyspark import Row
# There are two way to get custom column names.
# 1. Create the row class object while creating a RDD
data_rdd_row = sc.parallelize([Row(name='Alice', age=50), 
                               Row(name='Bob', age=20)])
data_rdd_row.collect() # [Row(name='Alice', age=50), Row(name='Bob', age=20)]

[Row(name='Alice', age=50), Row(name='Bob', age=20)]

In [ ]:
# 2. Transform existing RDD to new RDD
people_rdd_row = people_rdd_pair.map(lambda x: Row(name=x[0], age=int(x[1]))) # create a RDD with Row objects
people_rdd_row # PythonRDD[63] at RDD
people_rdd_row.collect()

[Row(name='Alice', age=25),
 Row(name='Bob', age=20),
 Row(name='Charly', age=30),
 Row(name='Don', age=15)]

In [ ]:
data_rdd_row.toDF().show()
people_rdd_row.toDF().show()

+-----+---+
| name|age|
+-----+---+
|Alice| 50|
|  Bob| 20|
+-----+---+

+------+---+
|  name|age|
+------+---+
| Alice| 25|
|   Bob| 20|
|Charly| 30|
|   Don| 15|
+------+---+

In [ ]:
people_df.rdd # Every DataFrame contains a RDD and we can get the dataframe's RDD easily.

MapPartitionsRDD[204] at javaToPython at NativeMethodAccessorImpl.java:0

In [ ]:
people_df = data_rdd_row.toDF()

### Transformation on DataFrame
####FlatMap, Map, ReduceByKey

In [ ]:
# map operation on RDD
people_rdd = people_df.rdd.map(lambda x: (x.name, x.age + 5))
#people_rdd # PythonRDD[78] at RDD
people_rdd.collect()

[('Alice', 55), ('Bob', 25)]

In [ ]:
# Map: the map operation performs a transformation on every element in the RDD. 
# Similar kind of method is not available for the DataFrame, 
# so we compute and assign computed value in new column within the DataFrame. 

people_df_new_age = people_df.select('name', 'age').withColumn('new_age', people_df.age + 10) # we can type people_df.age to mention column name.
people_df_new_age.show()

people_df_new_age = people_df_new_age.withColumnRenamed('new_age', 'after_ten_years')
people_df_new_age = people_df_new_age.drop('age')
people_df_new_age.show()

+-----+---+-------+
| name|age|new_age|
+-----+---+-------+
|Alice| 50|     60|
|  Bob| 20|     30|
+-----+---+-------+

+-----+---------------+
| name|after_ten_years|
+-----+---------------+
|Alice|             60|
|  Bob|             30|
+-----+---------------+

In [ ]:
people_df.first()

Row(name='Alice', age=50)

In [ ]:
people_df.take(2)

[Row(name='Alice', age=50), Row(name='Bob', age=20)]

In [ ]:
people_df.collect()[1][0] # It is a tabular format so can access specific cell.
# It always creates a clone then return so if the cell has any class type and we modify then it won't change in the dataframe.

'Bob'

In [ ]:
"""
Text in the datasets/simple_titles.txt:
How can I use DataFrames in 2.0
What is an RDD and Schema RDD
How do I group by a field
Can I use Hive from HUE
"""

# read lines
lines_rdd = sc.textFile("datasets/simple_titles.txt")
print('lines', lines_rdd.collect())

# flat all words
words_rdd = lines_rdd.flatMap(lambda line: line.split(' '))
print('words', words_rdd.collect())

# map each word with 1 value
word_and_count_rdd = words_rdd.map(lambda x: (x,1))
print('word_for_count', word_and_count_rdd.collect())

# count each word by key
word_with_count_rdd = word_and_count_rdd.reduceByKey(lambda x,y: x + y)
print('word_with_count_rdd', word_with_count_rdd.collect())

lines ['How can I use DataFrames in 2.0', 'What is an RDD and Schema RDD', 'How do I group by a field', 'Can I use Hive from HUE']
words ['How', 'can', 'I', 'use', 'DataFrames', 'in', '2.0', 'What', 'is', 'an', 'RDD', 'and', 'Schema', 'RDD', 'How', 'do', 'I', 'group', 'by', 'a', 'field', 'Can', 'I', 'use', 'Hive', 'from', 'HUE']
word_for_count [('How', 1), ('can', 1), ('I', 1), ('use', 1), ('DataFrames', 1), ('in', 1), ('2.0', 1), ('What', 1), ('is', 1), ('an', 1), ('RDD', 1), ('and', 1), ('Schema', 1), ('RDD', 1), ('How', 1), ('do', 1), ('I', 1), ('group', 1), ('by', 1), ('a', 1), ('field', 1), ('Can', 1), ('I', 1), ('use', 1), ('Hive', 1), ('from', 1), ('HUE', 1)]
word_with_count_rdd [('use', 2), ('DataFrames', 1), ('in', 1), ('2.0', 1), ('What', 1), ('is', 1), ('an', 1), ('do', 1), ('group', 1), ('field', 1), ('Hive', 1), ('How', 2), ('can', 1), ('I', 3), ('RDD', 2), ('and', 1), ('Schema', 1), ('by', 1), ('a', 1), ('Can', 1), ('from', 1), ('HUE', 1)]

In [ ]:
dir(people_df) # check all the methods which can be used with the RDD.

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_sort_cols',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInPandas',
 'na',
 'orderBy',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [ ]:
help(people_df) # even better with example

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf, sql_ctx)
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3.0
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but give the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities. If
 |          the input `col` is a string, the output is a list of floats. If the
 |          input `col` is a list or tuple of strings, the output is also a
 |          list, but each element in it is a list of floats, i.e., the output
 |          is a list of list of floats.
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this :class:`DataFrame`, which is especially useful in iterative algorithms
 |      where the plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional
 |          Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Examples
 |      --------
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.count()
 |      2
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      other : :class:`DataFrame`
 |          Right side of the cartesian product.
 |
 |      Examples
 |      --------
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column. Distinct items will make the first item of
 |          each row.
 |      col2 : str
 |          The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      .. versionadded:: 1.3.1
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      Notes
 |      -----
 |      This function is meant for exploratory data analysis, as we make no
 |      guarantee about the backward compatibility of the schema of the resulting
 |      :class:`DataFrame`.
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      Examples
 |      --------
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      See Also
 |      --------
 |      DataFrame.summary
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.distinct().count()
 |      2
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols: str or :class:`Column`
 |          a name of the column, or the :class:`Column` to drop
 |
 |      Examples
 |      --------
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +-----+---+------+
 |      | name|age|height|
 |      +-----+---+------+
 |      |Alice|  5|    80|
 |      |Alice| 10|    80|
 |      +-----+---+------+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +-----+---+------+
 |      | name|age|height|
 |      +-----+---+------+
 |      |Alice|  5|    80|
 |      +-----+---+------+
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      Parameters
 |      ----------
 |      how : str, optional
 |          'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      thresh: int, optional
 |          default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |

###Partition

In [ ]:
list_one_to_five_rdd = sc.parallelize([1, 2, 3, 4, 5, 6])
#list_one_to_five_rdd # ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:274
#list_one_to_five_rdd.collect() # [1, 2, 3, 4, 5, 6]
#list_one_to_five_rdd.getNumPartitions() # 2 - even though it is small data it has created 2 partition.
partitions_array = list_one_to_five_rdd.glom() # gluam method bring all the partition as individual partition. don't try with big valume data.
partitions_array.collect()

[[1, 2, 3], [4, 5, 6]]

In [ ]:
list_one_to_five_rdd = sc.parallelize([1, 2, 3, 4, 5, 6], 3) # specify partition explicitly
list_one_to_five_rdd.getNumPartitions() # 3
partitions_array = list_one_to_five_rdd.glom()
partitions_array.collect()

[[1, 2], [3, 4], [5, 6]]

###Inferred Schemas

In [ ]:
lines_rdd = sc.textFile("datasets/students.txt")
lines_rdd.collect()

['Emily,44,55,78', 'Andy,47,34,89', 'Rick,55,78,55', 'Aaron,66,34,98']

In [ ]:
parts_rdd = lines_rdd.map(lambda l: l.split(","))
parts_rdd.collect()

[['Emily', '44', '55', '78'],
 ['Andy', '47', '34', '89'],
 ['Rick', '55', '78', '55'],
 ['Aaron', '66', '34', '98']]

In [ ]:
students_rdd = parts_rdd.map(lambda p: Row(name=p[0], math=int(p[1]), english=int(p[2]), science=int(p[3])))
students_rdd.collect()

[Row(name='Emily', math=44, english=55, science=78),
 Row(name='Andy', math=47, english=34, science=89),
 Row(name='Rick', math=55, english=78, science=55),
 Row(name='Aaron', math=66, english=34, science=98)]

In [ ]:
students_df = spark.createDataFrame(students_rdd)
students_df.createOrReplaceTempView("students_tbl")
students_df.columns

['name', 'math', 'english', 'science']

In [ ]:
students_df.schema # Spark generates schema automatically.

StructType(List(StructField(name,StringType,true),StructField(math,LongType,true),StructField(english,LongType,true),StructField(science,LongType,true)))

In [ ]:
spark.sql("SELECT * FROM students_tbl").show()

+-----+----+-------+-------+
| name|math|english|science|
+-----+----+-------+-------+
|Emily|  44|     55|     78|
| Andy|  47|     34|     89|
| Rick|  55|     78|     55|
|Aaron|  66|     34|     98|
+-----+----+-------+-------+

 ### Explicit Schemas

In [ ]:
parts_rdd.collect()

[['Emily', '44', '55', '78'],
 ['Andy', '47', '34', '89'],
 ['Rick', '55', '78', '55'],
 ['Aaron', '66', '34', '98']]

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, LongType

fields = [StructField('name', StringType(), True),
          StructField('math', LongType(), True),
          StructField('english', LongType(), True),
          StructField('science', LongType(), True),
]
student_schema = StructType(fields)

students_explicit_df = spark.createDataFrame(parts_rdd, student_schema)
students_explicit_df.columns

['name', 'math', 'english', 'science']

In [ ]:
students_explicit_df.schema

StructType(List(StructField(name,StringType,true),StructField(math,LongType,true),StructField(english,LongType,true),StructField(science,LongType,true)))