<a href="https://colab.research.google.com/github/jugalpanchal/bd-chef/blob/main/spark_etl_loan_anlys_recipe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Follow the steps to install the dependencies:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # install java
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz # spark package download
!tar xf spark-3.1.2-bin-hadoop3.2.tgz # unzip spark package
!pip install -q findspark # install spark

# Set the location of Java and Spark:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F # PySpark functions

# create or get spark session
spark = SparkSession.builder \
        .master("local[*]") \
        .appName("Spark_App1") \
        .getOrCreate()

sc = spark.sparkContext

In [8]:
# https://www.kaggle.com/zhijinzhai/loandata
loan_df = spark.read.csv("datasets/Loan payments data.csv", header=True)
#load_df.columns
#loan_df.dtypes
#load_df.printSchema

In [11]:
loan_df.show(10, False)
loan_df.describe().show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|Loan_ID    |loan_status|Principal|terms|effective_date|due_date |paid_off_time  |past_due_days|age|education           |Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|PAIDOFF    |1000     |30   |9/8/2016      |10/7/2016|9/14/2016 19:31|null         |45 |High School or Below|male  |
|xqd20168902|PAIDOFF    |1000     |30   |9/8/2016      |10/7/2016|10/7/2016 9:00 |null         |50 |Bechalor            |female|
|xqd20160003|PAIDOFF    |1000     |30   |9/8/2016      |10/7/2016|9/25/2016 16:58|null         |33 |Bechalor            |female|
|xqd20160004|PAIDOFF    |1000     |15   |9/8/2016      |9/22/2016|9/22/2016 20:00|null         |27 |college             |male  |
|xqd20160005|PAIDOFF    |1000     |30   |9/9/2016      |10/8/2016|9/23/2016 21:36|null         |28 |college             |female|
|xqd20160706|PAIDOFF    |300      |7    |9/9/2016      |9/15/2016|9/9/2016 13:45 |null         |35 |Master or Above     |male  |
|xqd20160007|PAIDOFF    |1000     |30   |9/9/2016      |10/8/2016|10/7/2016 23:07|null         |29 |college             |male  |
|xqd20160008|PAIDOFF    |1000     |30   |9/9/2016      |10/8/2016|10/5/2016 20:33|null         |36 |college             |male  |
|xqd20160909|PAIDOFF    |1000     |30   |9/9/2016      |10/8/2016|10/8/2016 16:00|null         |28 |college             |male  |
|xqd20160010|PAIDOFF    |800      |15   |9/10/2016     |9/24/2016|9/24/2016 13:00|null         |26 |college             |male  |
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 10 rows

+-------+-----------+-----------+------------------+-----------------+--------------+----------+---------------+-----------------+------------------+---------+------+
|summary|    Loan_ID|loan_status|         Principal|            terms|effective_date|  due_date|  paid_off_time|    past_due_days|               age|education|Gender|
+-------+-----------+-----------+------------------+-----------------+--------------+----------+---------------+-----------------+------------------+---------+------+
|  count|        500|        500|               500|              500|           500|       500|            400|              200|               500|      500|   500|
|   mean|       null|       null|             943.2|           22.824|          null|      null|           null|            36.01|            31.116|     null|  null|
| stddev|       null|       null|115.24027352138044|8.000064127999487|          null|      null|           null|29.38087950354807|6.0847837419560555|     null|  null|
|    min|xqd12160159| COLLECTION|              1000|               15|     9/10/2016|10/10/2016|10/1/2016 10:18|                1|                18| Bechalor|female|
|    max|xqd91160291|    PAIDOFF|               900|                7|      9/9/2016| 9/28/2016| 9/9/2016 13:45|                9|                51|  college|  male|
+-------+-----------+-----------+------------------+-----------------+--------------+----------+---------------+-----------------+------------------+---------+------+

In [13]:
# Select columns
loan_df.select("loan_status").distinct().show()

+------------------+
|       loan_status|
+------------------+
|        COLLECTION|
|COLLECTION_PAIDOFF|
|           PAIDOFF|
+------------------+